


nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Bungee', cursive;
  height: 120px;
  width: 100%;
  z-index: 1;
  background-color: #4056A1;
  color: #ffffff;
}

span {
  font-family: 'Bungee', cursive;
}


.tweeter {
  /* padding: 40px; */
  color: whitesmoke;
  font-size: 40px;
  margin: .5em;
  top: 40px;
}