#nTweetTag {
	color: violet;
	margin:	.5em;
}

.tweets {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 98%;
	height: 200px;
	text-align: center;
	border: solid black 2px;
	margin: 0.5em;  
}

.tweets:hover{
	/* font-weight: 600; */
	box-shadow: 5px 10px #888888;
	opacity: 100;
}

.nTweetAvatar {
	float: left;
}

.nTweetHeader {
	/* float: right; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nTweetIcon {
	display: none;
}

.tweets footer {
	display: flex;
	justify-content: space-between;
}

.nTweetUser {

}

#form {
	display: none;
}


.flexForm {
	display: flex;
	flex-direction: column;
	border: thin;
}

.tweet {
	width: fit-content;
}


.counter {
	text-align: center;
	display: flex;
	flex-direction: row;
	width: fit-content;
	align-self: flex-end;
}

textarea {
	flex: auto;
	border-top: 0;
	border-bottom-width: thick;
	border-left: 0;
	border-right: 0;
	background: transparent;
	width: 100%;
}

